<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <ul>
      <% @restaurant.reviews.each do |review| %>
        <li><%= review.content %> | <%= review.rating %></li>
      <% end %>
    </ul>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
  </div>
</div>
